<div id="bet-record-table" style="height: 100%"></div>
<div id="bet-record-toolbar" style="padding: 5px; height: auto">
	<div style="margin-left: 20px;">
		<input
			class="easyui-validatebox" name="mobile" placeholder="手机号"
			style="width: 150px" />&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"
			class="easyui-linkbutton" plan="true" onclick="searchBetRecord()"
			iconCls="icon-search">查询</a>
	</div>
</div>



<script type="text/javascript"
	th:src="@{/js/jquery-easyui-1.5.2/datagrid-detailview.js}"></script>


<script>
$(function(){
	initBetRecordTable()
})
function initBetRecordTable(){
	$('#bet-record-table').datagrid({
	    url:'/bet-record/page',
	    queryParams:{
	    	sort:"betTime",
	    	order:"desc"
	    },
	    view: detailview,
	    detailFormatter:function(index,row){
			return '<div style="padding:2px"><table class="ddv"></table></div>';
		},
		onExpandRow: function(index,row){
			var ddv = $(this).datagrid('getRowDetail',index).find('table.ddv');
			ddv.datagrid({
				url:'/bet-info/list',
				fitColumns:true,
				method:"GET",
				queryParams:{
					period:row.period,
					mobile:row.mobile
				},
				singleSelect:true,
				rownumbers:true,
				loadMsg:'',
				height:'auto',
				 rowStyler:function(){
				    	return "height:35px;"
				    },
				columns:[[
					{field:'rank',title:'排名',width:100},
					{field:'resultLabel',title:'结果',width:100},
					{field:'money',title:'金额',width:100},
					{field:'rate',title:'赔率',width:100}
				]],
				onResize:function(){
					$('#bet-record-table').datagrid('fixDetailRowHeight',index);
				},
				onLoadSuccess:function(){
					setTimeout(function(){
						$('#bet-record-table').datagrid('fixDetailRowHeight',index);
					},0);
				}
			});
			$('#bet-record-table').datagrid('fixDetailRowHeight',index);
		},
	    fitColumns:true,
	    method:'get',
	    nowrap:false,
	    toolbar:"#bet-record-toolbar",
	    striped:true,
	    singleSelect:true,
	    pagination:true,
	    pageList:[10,30,50,100],
	    
	    columns:[[
			{field:'period',title:'期数',width:"8%"},
			{field:'mobile',title:'手机号',width:"12%"},
			{field:'money',title:'投注前余额',width:"10%"},
			{field:'betMoney',title:'投注金额',width:"10%"},
			{field:'bonus',title:'奖金',width:"10%"}, 
			{field:'balance',title:'投注后余额余额',width:"10%"},
			{field:'betTime',title:'投注时间',width:"14%"},
			{field:'openTime',title:'开奖时间',width:"14%"},
			{field:'statusLabel',title:'状态',width:"11%"}
			]]
	})};
	function searchBetRecord() {
		$('#bet-record-table').datagrid('load', {
			mobile : $("#bet-record-toolbar").find("input[name='mobile']").val(),
			sort:"betTime",
	    	order:"desc",
			likes:"mobile"
		});
	}
	
	

	
</script>