<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="easyui-layout" style="background-color: #F3F3F3!important">
<title>首页-rejoice后台管理系统</title>
    <div th:include="public/header" th:remove="tag" />
<div data-options="region:'north',title:''," style="border:none;height:80px;width:100%;color:white;" class="bg">
	
	<div style="left: 20px;
    width: 190px;
    height: 80px;
    font: 20px solid black;
    position: absolute;
    line-height: 80px;
    font-family: cursive;">
		rejoice后台管理系统
	</div>
			<a th:href="@{/user/logout}" class="easyui-linkbutton" data-options="iconCls:'icon-no'" style="    width: 58px;
    position: absolute;
    right: 10px;
    bottom: 10px">注销</a>

</div>


 <div data-options="region:'west',title:'菜单',split:true" class="bg" style="background:#a7c1e2; width:180px;">
    	<ul id="menu"   class="easyui-tree" style="margin-top: 10px;margin-left: 5px;">
         	<li>
         		<span>系统管理</span>
         		<ul>
	         		<li data-options="attributes:{'url':'/page/user/list.html'}">用户管理</li>
	         	</ul>
         	</li>
         	<li>
         		<span>赔率管理</span>
         		<ul>
	         		<li data-options="attributes:{'url':'rule/rule-side.html'}">两面反</li>
	         		<li data-options="attributes:{'url':'rule/rule-number.html'}">排名</li>
	         		<li data-options="attributes:{'url':'rule/global-rate.html'}">全局赔率</li>
	         	</ul>
         	</li>
         	<li>
         		<span>交易管理</span>
         		<ul>
	         		<li data-options="attributes:{'url':'trade/recharge-record.html'}">充值记录</li>
	         		<li data-options="attributes:{'url':'bet/bet-record.html'}">投注记录</li>
	         		<li data-options="attributes:{'url':'trade/trade-record.html'}">交易记录</li>
	         	</ul>
         	</li>
         </ul>
    </div>
    <div  data-options="region:'center',title:''" >
    	<div id="tabs" class="easyui-tabs"  style="height:100%;widht:100%;">
		    <div class="bg" title="首页" style="padding:20px;font-size:20px;color:white;">
		        	welcome to rejoice manage system
		    </div>
		  
		</div>
    </div>

<div  th:include="public/footer" data-options="region:'south',title:''" style="height:32px;">
</div>
<script type="text/javascript">
$(function(){
	$('#menu').tree({
		onClick: function(node){
			if($('#menu').tree("isLeaf",node.target)){
				var tabs = $("#tabs");
				var tab = tabs.tabs("getTab",node.text);
				if(tab){
					tabs.tabs("select",node.text);
				}else{
					tabs.tabs('add',{
					    title:node.text,
					    href: node.attributes.url,
					    closable:true,
					    bodyCls:"content"
					});
				}
			}
		}
	});
});
</script>

</body>
</html> 