<div id="trade-record-table"></div>
<div id="trade-record-toolbar" style="padding: 5px; height: auto">
	<div style="margin-left: 20px;">
		<input
			class="easyui-validatebox" name="mobile" placeholder="手机号"
			style="width: 150px" />&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"
			class="easyui-linkbutton" plan="true" onclick="searchTradeRecord()"
			iconCls="icon-search">查询</a>
	</div>
</div>






<script>
$(function(){
	initTradeRecordTable()
})
function initTradeRecordTable(){
	$('#trade-record-table').datagrid({
	    url:'/trade-record/page',
	    queryParams:{
	    	sort:"tradeTime",
	    	order:"desc"
	    },
	    fitColumns:true,
	    method:'get',
	    nowrap:false,
	    toolbar:"#trade-record-toolbar",
	    striped:true,
	    pagination:true,
	    rowStyler:function(){
	    	return "height:35px;"
	    },
	    pageList:[10,30,50,100],
	    
	    columns:[[
			{field:'period',title:'期数',width:"10%"},
			{field:'mobile',title:'手机号',width:"16%"},
			{field:'money',title:'金额',width:"14%"},
			{field:'balance',title:'余额',width:"14%"},
			{field:'typeLabel',title:'交易类型',width:"12%"},
			{field:'betTime',title:'投注时间',width:"17%"},
			{field:'tradeTime',title:'交易时间',width:"18%"}
			]]
	})};
	function searchTradeRecord() {
		$('#trade-record-table').datagrid('load', {
			mobile : $("#trade-record-toolbar").find("input[name='mobile']").val(),
			sort:"tradeTime",
	    	order:"desc",
			likes:"mobile"
		});
	}
	
	

	
</script>